@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  color: #ffffff;
}
@media (max-width: 768px) {
  .header {
    color: rgb(77, 223, 29);
    font-size: 20px;
  }
}
@media (max-width: 568px) {
  .header {
    color: #dc3545;
    font-size: 14px;
  }
}

/* 基本樣式 */
body, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* layout */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; /* 填滿視窗高度*/
}

.header {
  background-color: #333333;
  padding: 15px;
  text-align: center;
}
.header a {
  font-size: 16px;
  color: #c55b5b;
}
.header h1 {
  font-size: 24px;
  font-family: "monospace";
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* 它會撐滿除了 header 高度以外的剩餘空間*/
}
.content a {
  color: #c55b5b;
  font-size: 14px;
}

.leftmenu {
  width: 200px;
  background-color: #f4f4f4;
  padding: 15px;
}

.container-page {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* content */
.box1 {
  background-color: #333333;
  width: 50px;
  height: 50px;
}

.box2 {
  background-color: #333333;
  width: 50px;
  height: 50px;
}

.box3 {
  background-color: #333333;
  width: 50px;
  height: 50px;
}

.box4 {
  background-color: #333333;
  width: 50px;
  height: 50px;
}

.box5 {
  background-color: #333333;
  width: 50px;
  height: 50px;
}