// 建立@mixin
@mixin pad{
    @media (max-width: 768px){
        @content
    }
}

@mixin mobile{
    @media (max-width: 568px){
        @content
    }
}


.header{
    color: $text-color;
    @include pad {
        color: $success;
        font-size: 20px;
    }
    @include mobile{
        color: $info;
        font-size: 14px;
    }

}