// 建立@mixin
@mixin pad{
    @media (max-width: 768px){
        @content
    }
}

@mixin mobile{
    @media (max-width: 568px){
        @content
    }
}


.header{
    width: 500px;
    @include pad {
        width: 13px;
        font-size: 20px;
    }
    @include mobile{
        width: 10px;
    }

}