// 建立_main
$primary-color: rgb(218, 149, 46);
$content-color: #0d6efd;
$box-width: 50px; 
$box-height: 50px;
$mb-1: 4px; //間距
$mb-2: 8px;
$link-color: #ff0000;
$font-m: 16px; //基準點
$font-s: $font-m - 2;
$font-l: $font-m * 1.5; //;

$font-family-title: "monospace";