// 建立_main
$primary: #333333;
$second: #f4f4f4;
$text-color: #ffffff;
$content-color: #0d6efd;
$success: rgb(77, 223, 29);
$info: #dc3545;


$box-width: 50px; 
$box-height: 50px;
$mb-1: 4px; //間距
$mb-2: 8px;
$link-color: #c55b5b;
$font-m: 16px; //基準點
$font-s: $font-m - 2;
$font-l: $font-m * 1.5; //;

$font-family-title: "monospace";